
name: Database Migration (Flyway)

on:
  push:
    branches: [ "main" ]

jobs:
  migrate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Flyway Migration
  # You may pin to the exact commit or the version.
  # uses: joshuaavalon/flyway-action@81e2f01520d51d5fb5cb2ef828229adc5820aa2d
        uses: joshuaavalon/flyway-action@v3.0.0
        with:
        # The jdbc url to use to connect to the database
          url: 'jdbc:sqlserver://poc-sql-server-1234.database.windows.net:1433;database=pocDatabase;user=pocUser@poc-sql-server-1234;password=Germany!123;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;'
          # The user to use to connect to the database
          user: 'pocUser@poc-sql-server-1234'
          # The password to use to connect to the database
          password: 'Germany!123'
          # Comma-separated list of locations to scan recursively for migrations
          locations: 'filesystem:./sql'
          # The SQL statements to run to initialize a new database connection immediately after opening it
          initSql: # optional
          
